<div class="container">
  <h2>Dropdown list assessment</h2>
  <div class="wrapper col-md-6 col-sm-12">
    <ejs-dropdowntree
      id='dropdownTree'
      [showSelectAll]='true'
      selectAllText='Select All'
      unSelectAllText='Unselect All'
      [showCheckBox]='true'
      [dataSource]='data'
      (filtering)='onFiltering($event)'
      [filterBarPlaceholder]="filterPlaceholder"
      [fields]='fields'
      [popupHeight]='height'
      [allowFiltering]='true'
      [placeholder]='watermark'>
    </ejs-dropdowntree>
  </div>
</div>






